# System Requirements:
# openssl
# libssl-dev
# mongodb
# libffi-dev

autobahn
cffi
decorator
pymongo
pyOpenSSL
pystache
requests
smokesignal
Twisted
websocket-client

# Additional dependencies required by Twisted
service-identity
pyasn1
pyasn1-modules
