# System Requirements:
# openssl
# libssl-dev
# mongodb
# libffi-dev

autobahn
cffi
decorator
pyasn1
pyasn1-modules
pymongo
pyOpenSSL
pystache
requests

# Additional dependencies required by Twisted
service-identity
smokesignal
Twisted
websocket-client
