# System Requirements:
# openssl
# libssl-dev
# postgresql
# libffi-dev

autobahn
cffi
psycopg2-binary
pyasn1
pyasn1-modules
pyOpenSSL
pystache
requests

# Additional dependencies required by Twisted
service-identity
smokesignal
Twisted
